<div class="centerForm borderForm">
    <h1>Todolist App</h1>

    <div *ngFor="let task of initialList; index as i">
        <form #itemForm="ngForm" (ngSubmit)="completedTask(itemForm)">
            <h4>
                <button name="completed" *ngIf="!task.completed" ngModel="{{i}}">Complete</button> - {{ task.task }}
            </h4>
        </form>
    </div>
    
    <form #addForm="ngForm" (ngSubmit)="AddTasktoList(addForm)">
        <input type="text" name="task" id="task" ngModel />
        <button>Add Task</button>
    </form>
</div>