

<!-- <p *ngFor="let rData of reddit">{{ rData }}</p> -->


<!-- <img style="border: solid;" src="{{ reddit.image }}" alt="">
<p><b>Title:</b> {{ reddit.title }}</p>
<p>{{ reddit.link }}</p>
<a href="{{ reddit.link }}">Link</a> -->

<div class="row editpage">
    <div class="col-6">
        <div class="card" style="width: 25rem;">
            <img src="{{ reddit.image }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{ reddit.title }}</h5>
              <a href="{{ reddit.link }}" class="btn btn-primary">More Info -</a>
            </div>
          </div>
    </div>
</div>
