
<div class="container">
  <div class="row" style="height: 450px;">
      <div class="col-md-6 mb-4">
          <div class="card">
              <img class="card-img-top" src="{{ reddit.image }}"  alt="">
          </div>
      </div>

      <div class="col-md-6 mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ reddit.title }}</h5>
                <p class="card-text">
                    Some quick example text to build on 
                    the card title and make up the bulk 
                    of the card's content.
                </p>

                <a href="{{ reddit.link }}" class="btn btn-primary">More Info -</a>
            </div>
        </div>
    </div>
  </div>
</div>