<ngb-carousel>
    <ng-template ngbSlide *ngFor="let house of getHouseResult()">
        <div class="picsum-img-wrapper">
            <img src="{{ house.img }}" alt="Random slide">
        </div>
        <div class="carousel-caption" style="padding-bottom: 5rem;">
            <h1>{{ house.type }}</h1>
            <h3>${{ house.price }}</h3>
        </div>
        <a 
        [routerLink]="['/house', house.id]"><button 
        type="button" 
        class="btn btn-primary" 
        >View Details</button></a>                
        <hr>
    </ng-template>
</ngb-carousel>


<app-searchform (submitsearch)="searchHouseByType($event)"></app-searchform><br>
