/* You can add global styles to this file, and also import other style files */
.centerForm {
    position: fixed;
    top: 20%;
    left: 50%;
    margin-top: -50px;
    margin-left: -150px;
    background-color: #e9d7d7;
  }

  .borderForm {
    box-sizing: border-box;  
    background-color: rgb(169, 221, 228);
    padding: 15px;
    border: 10px solid rgb(125, 157, 161);
    border-radius: 25px;
}

